@import "./index";

.usa-theme {
    border-color: rgb(40, 71, 52);
};

.usmc-theme {
    border-color: rgb(228, 0, 43);
};

.usn-theme {
    border-color: rgb(0, 20, 137);
};

.usaf-theme {
    border-color: rgb(255, 205, 0);
};

.ussf-theme {
    border-color: rgb(13, 27, 41);
};

.dod-theme {
    border-color: rgb(127, 127, 127);
};